.date--selector {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  & > table {;
    margin-top: 10px;
  }
}

.selected-screening {
  color: white !important;
  background: #7ec1ff !important;
}

.screenings--table {
  width: 100%;

  & > .screenings--table--column--names {
    & th, p {
      font-size: 1rem;
    }
  }

  & > .screenings--table--body {
    & > .screenings--screening-room-row {
      padding: 10px;
    }

    & .screenings--per--room {
      display: inline-flex;
      overflow-x: auto;
    }

    & td {
      font-size: 1rem;
    }
  }

  & > .screenings--table--body, & > .screenings--table--column--names {
    & > tr {
      display: flex;

      & .time--column--name, & .screenings--per--room {
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}