@media all and (min-width: 1201px) {
  #date--selector--desktop {
    display: block;
  }

  #date--selector--mobile {
    display: none !important;
  }
}

@media all and (max-width: 1200px) {
  #date--selector--desktop {
    display: none !important;
  }

  #date--selector--mobile {
    display: block;
  }
}