@media all and (min-width: 1200px) {
  .button--show--more {
    visibility: hidden;
    display: none;
  }

  .movie--details {
    visibility: visible;
    display: block;
    img{
      padding: 10px;
      width: 100%;
    }
    p{
      font-size: 12px;
      display: block;
      padding: 10px;
    }
    a{
      font-size: 12px;
      display: block;
      font-style: inherit;
    }
  }

  .movie--details2 {
    visibility: hidden;
  }
}

@media all and (max-width: 1200px) {
  .poster--image {
    width: 100%;
    object-fit: cover;
  }

  .button--show--more {
    position: absolute;
    bottom: 0;
    margin: 15px;
    visibility: visible;
  }

  .movie--details {
    visibility: hidden;
    display: none;
  }

  .movie--details2 {
    img{
      padding: 10px;
      width: 100%;
    }
    p{
      font-size: 12px;
      display: block;
      padding: 10px;
    }
    a{
      font-size: 12px;
      display: block;
      font-style: inherit;
    }
  }
}
