@media all and (min-width: 1200px) {
  .page--content {
    grid-template:
            "details date-selector date-selector" 0.2fr
            "details seats seats" 0.8fr / 0.15fr 0.7fr 0.15fr;
  }

  .reservation--actions, .info--container {
    min-width: 600px;
  }
}

@media all and (max-width: 1200px) {
  .page--content {
    grid-template:
            "date-selector" 0.2fr
            "seats" auto
            "details" 0;
  }
}

.page--content {
  height: 100%;
  display: grid;

  & > div {
    display: flex;
    font-size: 2.5em;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
  }

  & > .reservation--movie--details {
    grid-area: details;
    border-right: 1px solid #e1e4e8;
    position: relative;
  }

  & > .reservation--date--selector {
    grid-area: date-selector;
    border-right: 1px solid #e1e4e8;
  }

  & > .reservation--seats--grid {
    grid-area: seats;
  }

  & > .reservation--actions {
    grid-area: actions;
    border-radius: 3px;
    border-right: 1px solid #e1e4e8;
  }
}

.reservation--page--header {
  width: 100%;
  & .ant-page-header-heading-extra {
    width: 100%;
    display: flex;
    place-content: flex-end;
  }

  & .ant-page-header-heading-left {
    overflow: visible;
  }
}

.info--container {
  display: flex;
  place-content: flex-end;
}