[Unit]
Description=Cinema Tickets App
After=network.target

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/usr/bin
EnvironmentFile=/etc/default/cinema_tickets_app.conf
ExecStart=/usr/bin/java -jar '/usr/bin/cinema_tickets_app.jar' --db.name=${DB_NAME} --db.host=${DB_HOST} --db.port=${DB_PORT} --db.user=${DB_USER} --db.password=${DB_PASSWORD}
ExecStop=/bin/kill -s SIGKILL $MAINPID
SuccessExitStatus=SIGKILL
ExecReload=/bin/kill -TERM $MAINPID
StandardOutput=file:/vagrant/cinema_tickets_app.log

[Install]
WantedBy=multi-user.target