@media all and (min-width: 600px) {
  .movie--list-filters {
    & > .top--filters--controls {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      & > .input--container {
        margin: 10px;
        min-width: 480px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;

        align-items: center;

        & > .title--input {
          flex-grow: 3;
        }

        & > .input--label {
          padding: 10px;
        }

        & > .date--picker--input {
          width: 100%;
        }
      }
    }

    & > .pagination--selector {
      width: 100%;
      text-align: center;
      padding-bottom: 25px;
    }
  }
}

@media all and (max-width: 600px) {
  .movie--list-filters {
    & > .top--filters--controls {
      display: block;
      justify-content: center;
      padding: 10px;
      & > .input--container {
        display: inline-grid;
        width: 100%;

        & > .input--label {
          font-size: 1.2rem;
        }
      }
    }

    & > .pagination--selector {
      width: 100%;
      text-align: center;
      padding-bottom: 25px;
    }
  }
}

@media all and (max-width: 480px){
  .ant-picker-panels, .ant-picker-date-panel {
    width: 100vw !important;
  }

  .ant-picker-content {
    width: 100vw !important;
  }

  .ant-picker-body {
    padding: 8px 0 !important;
  }

  .ant-picker-panel-container {
    width: 100vw;

    & .ant-picker-panel {
      width: 100vw;
    }

    & .ant-picker-datetime-panel {
      display: block;
    }
  }
}

.movie--list-filters {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  & > .top--filters--controls {
    align-content: center;
  }
}

.genre--picker--input {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;

  & > div {
    width: 99%;
  }
}

//.genre--container {
//  display: none !important;
//}