[Unit]
Description=Cinema Tickets App
After=mariadb.service

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=@WORKING_DIR@
EnvironmentFile=@CONF_PATH@
ExecStart=/usr/bin/java -jar '@EXECUTABLE_PATH@' --db.name=${DB_NAME} --db.host=${DB_HOST} --db.port=${DB_PORT} --db.user=${DB_USER} --db.password=${DB_PASSWORD}
ExecStop=/bin/kill -s SIGKILL $MAINPID
SuccessExitStatus=SIGKILL
ExecReload=/bin/kill -TERM $MAINPID
StandardOutput=file:@LOG_PATH@

[Install]
WantedBy=multi-user.target